.all {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    .nav {
        width: 100%;
        height: 80px;
        padding: 0;

        .navbar {
            width: 1000px;
            height: 80px;
            padding: 0;
            margin: 0 auto;
            justify-content: space-between;

            .logo {
                width: 100px;
                height: 80px;
                background-image: url(../img/logo_3.png);
                background-size: 100% 100%;
                overflow: hidden;
                background-position: center center;
                background-repeat: no-repeat;
            }

            .logo_title {

                h2 {
                    font-family: 'Noto Sans TC', sans-serif;
                    text-align: center;
                }

                p {
                    font-family: 'Noto Sans TC', sans-serif;
                    text-align: center;
                    line-height: 0;
                }
            }

            .navmenu {
                position: relative;
                display: inline-block;

                &:hover .navmenu_content {
                    display: block;
                }

                .menu {
                    background-image: url(../img/menuicon.png);
                    background-size: 100% 100%;
                    width: 50px;
                    height: 40px;
                    padding: 0;
                    border: none;
                }

                .navmenu_content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 100px;
                    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
                    z-index: 99;

                    a {
                        font-family: 'Noto Sans TC', sans-serif;
                        color: black;
                        padding: 12px 18px;
                        text-decoration: none;
                        display: block;

                        &:hover {
                            background-color: #ddd;
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 15'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
                            background-position: bottom;
                            background-repeat: repeat-x;
                            background-size: 20%;
                            border-bottom: 0;
                            text-decoration: none;
                            color: rgb(160, 0, 189);
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }


    .about_content {
        width: 100%;

        .aboutme {
            width: 700px;
            margin: 10px auto;
            font-family: 'Noto Sans TC', sans-serif;

            h1 {
                font-family: 'Noto Sans TC', sans-serif;
            }
        }

    }


    
    .boss_content {
        width: 100%;

        .hospital_boss {
            width: 700px;
            margin: 10px auto;
            font-family: 'Noto Sans TC', sans-serif;

            .boss_img {
                width: 50%;
                height: 300px;
                background-image: url(../img/h_bos.jpg);
                background-size: cover;
            }

            .boss_introduce {

                h4 {
                    font-family: 'Noto Sans TC', sans-serif;
                }
            }
        }
    }



    .hospital_group {
        width: 100%;

        .hospital_map {
            width: 700px;
            height: 500px;
            margin: 0 auto;
            background-image: url(../img/mapsite.jpg);
            background-size: 100% 100%;
        }
    }




    .footer {
        width: 100%;
        height: 30px;
        margin-top: 5px;
        font-family: 'Noto Sans TC', sans-serif;

        .footer_text {
            width: 1000px;
            height: 30px;
            background-color: rgb(206, 205, 205);
            line-height: 31px;
        }
    }

}