.all {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    .nav {
        width: 100%;
        height: 60px;
        padding: 0;

        .navbar {
            width: 1000px;
            height: 60px;
            padding: 0;
            background-color: #ddd;

            .logo {
                width: 250px;
                height: 60px;
                background-image: url(../img/logo2.jpg);
                background-size: 100% 100%;
            }

            .navmenu {
                width: 750px;
                height: 60px;

                .menu {
                    font-size: 1.2em;
                    line-height: 61px;

                    .menu_title {
                        color: navy;

                        &:hover {
                            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 25'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
                            background-position: bottom;
                            background-repeat: repeat-x;
                            background-size: 20%;
                            border-bottom: 0;
                            text-decoration: none;
                            padding: 0;
                            color: rgb(255, 0, 140);
                        }
                    }
                }
            }
        }
    }

    .division_content {
        width: 100%;
        height: 100vh;
        margin-top: 20px;

        .division_menu {
            width: 1000px;
            height: 30px;
            margin: 0 auto;

            .division_title {

                &:hover {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 10'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
                    background-position: bottom;
                    background-repeat: repeat-x;
                    background-size: 20%;
                    border-bottom: 0;
                    padding-bottom: .3em;
                    text-decoration: none;
                }

            }
        }

        .division_introduce {
            width: 800px;
            height: auto;
            margin: 10px auto;

            h5 {
                letter-spacing: 5px;
                padding-bottom: 10px;
            }

            p {
                letter-spacing: 2px;
                line-height: 10px;
            }
        }

        .division_icongroup {
            width: 700px;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;

            .divison_icon {
                height: 100px;
                background-size: 100% 100%;
            }

            #cat_icon {
                background-image: url(../img/cat.png);
            }

            #rabbit_icon {
                background-image: url(../img/rabbit.png);
            }

            #normal_icon {
                background-image: url(../img/normal.png);
            }

            #esc_icon {
                background-image: url(../img/esc.png);
            }

            #emergercy_icon {
                background-image: url(../img/emergency.png);
            }

            #eye_icon {
                background-image: url(../img/eye.png);
            }

            #mouth_icon {
                background-image: url(../img/teeth.png);
            }

            #tumor_icon {
                background-image: url(../img/tumor.png);
            }

            #heart_icon {
                background-image: url(../img/heart.png);
            }

            #kidney_icon {
                background-image: url(../img/kidney.png);
            }

            #skin_icon {
                background-image: url(../img/skin.png);
            }

            #move_icon {
                background-image: url(../img/move.png);

                h6 {
                    display: none;

                    &:hover #move_icon.h6 {
                        display: block;
                    }
                }
            }
        }

    }

    .footer {
        width: 100%;
        height: 30px;
        margin-top: 5px;

        .footer_text {
            width: 1000px;
            height: 30px;
            background-color: rgb(206, 205, 205);
            line-height: 31px;
        }
    }

}