.all {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.all .nav {
  width: 100%;
  height: 80px;
  padding: 0;
}

.all .nav .navbar {
  width: 1000px;
  height: 80px;
  padding: 0;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.all .nav .navbar .logo {
  width: 100px;
  height: 80px;
  background-image: url(/img/logo_3.png);
  background-size: 100% 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

.all .nav .navbar .logo_title h2 {
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
}

.all .nav .navbar .logo_title p {
  font-family: 'Noto Sans TC', sans-serif;
  text-align: center;
  line-height: 0;
}

.all .nav .navbar .navmenu {
  position: relative;
  display: inline-block;
}

.all .nav .navbar .navmenu:hover .navmenu_content {
  display: block;
}

.all .nav .navbar .navmenu .menu {
  background-image: url(/img/menuicon.png);
  background-size: 100% 100%;
  width: 50px;
  height: 40px;
  padding: 0;
  border: none;
}

.all .nav .navbar .navmenu .navmenu_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.all .nav .navbar .navmenu .navmenu_content a {
  font-family: 'Noto Sans TC', sans-serif;
  color: black;
  padding: 12px 18px;
  text-decoration: none;
  display: block;
}

.all .nav .navbar .navmenu .navmenu_content a:hover {
  background-color: #ddd;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 15'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  text-decoration: none;
  color: #a000bd;
  z-index: 1;
}

.all .books_group {
  width: 100%;
  height: auto;
  font-family: 'Noto Sans TC', sans-serif;
}

.all .books_group .book_card {
  width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.all .books_group .book_card .card_book_img {
  width: 140px;
  height: 200px;
  background-size: cover;
}

.all .books_group .book_card .card_body {
  width: 650px;
  height: 200px;
}

.all .books_group .book_card #book12 {
  background-image: url(/img/book_12.jpg);
}

.all .books_group .book_card #book11 {
  background-image: url(/img/book_11.jpg);
}

.all .books_group .book_card #book10 {
  background-image: url(/img/book_10.jpg);
}

.all .books_group .book_card #book09 {
  background-image: url(/img/book_09.jpg);
}

.all .footer {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

.all .footer .footer_text {
  width: 1000px;
  height: 30px;
  background-color: #cecdcd;
  line-height: 31px;
}
/*# sourceMappingURL=style_books.css.map */